* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #414141;
}

/* header */
/* header-nav_desktop */
.nav_desktop {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 16px;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo {
    display: flex;
    align-items: center;
    height: 32px;
}
.logo img {
    height: 32px;
}
.nav_menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav_menu ul a {
    text-decoration: none;
    color: #414141;
    padding: 8px;
}
#academy {
    color: gray;
}
/* header-nav_mobile */
.nav_mobile ul {
    display: none;
    list-style-type: none;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    padding:0 24px;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav_mobile ul img {
    border: 1px solid red;
}
/* main */
main {
    position: relative;
    top: 64px;
}
/* main-hero */
.hero {
    background-color: lightgray;
    display: flex;
    align-items: center;
    padding: 32px 24px;
}
.hero_img {
    width: 60%;
}
.hero_img img {
    width: 100%;
}
.hero_text {
    width: 40%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
.hero_text h4 {
    margin: 24px 0;
}
.hero_text button {
    background-color: #414141;
    color: white;
    border: none;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
}
/* main-info */
/* main-course */
/* main-thesis */
/* footer */